<!--Navbar -->
<div>
  <a href="#">Progate</a>
  <ul>
    <li><a href="#">ENG</a></li>
    <li><a href="#">ログイン</a></li>
  </ul>
</div>
<!-- End navbar -->

<!-- Jumbotron -->
<div>
  <h1>LEARN TO CODE.<br>LEARN TO BE CREATIVE.</h1>
  <p>スライド学習と実践でマスター！<br>無料で学べる、初心者のためのオンラインプログラミング学習サービス</p>
  <p>
    <a href="#">新規登録</a>
    <a href="#">さらに詳しく</a>
  </p>
  <small>既にアカウントをお持ちですか?  <a href="#">ログイン</a></small>
</div><!-- End Jumbotron -->

<!-- Main Content -->
<div>
  <div>
      <div>
        <h2>Hello, World!</h2>
        <small>ようこそプログラミングの世界へ</small>
      </div>
      <h3>HTML&amp;CSS</h3>
      <p>
        ウェブページの作成に使用される言語です。HTMLとCSSを組み合わせることで、静的なページを作り上げることができます。
      </p>
      <h3>jQuery</h3>
      <p>素敵な動きを手軽に実装できるJavaScriptライブラリです。 アニメーション効果をつけたり、Ajax（エイジャックス）を使って外部ファイルを読み込んだりと色々なことができます。</p>
      <h3>Ruby</h3>
      <p>オープンソースの動的なプログラミング言語で、 シンプルさと高い生産性を備えています。大きなWebアプリケーションから小さな日用ツールまで、さまざまなソフトウェアを作ることができます。</p>
        
    <div>
      <h2>The Masterminds Behind this Project</h2>
      <small>プロジェクトチーム</small>
      <ul>
         <li>Hustler</li>
         <li>Hacker</li>
         <li>Designer</li>
       </ul> 
    </div>
  </div><!-- End Main Content -->

<!-- Call to Action -->
  <div>
    <h3>あなたが思っているよりも簡単です。</h3>
    <h3>Let's learn to code, learn to be creative!</h3>
    <a href="#">さっそく開発する</a>
  </div><!-- End Call to Action -->
</div>
<hr>
<!-- Footer -->
<div>
  <a href="#">Progate</a>
  <p>Learn to Code, Learn to be Creative.</p>

  <div>
    <h4>CREATE FREE ACCOUNT</h4>
    <h4>VIEW LESSONS</h4>
    <p>HTML &amp; CSS</p>
    <p>jQuery</p>
    <p>Ruby</p>
    <p>PHP</p>
  </div>

  <div>
    <h4>SUPPORT</h4>
    <p>Contact</p>
    <p>FAQ</p>
    <p>Terms of Use</p>
    <p>Privacy Policy</p>
  </div>
  <hr>
  <p>&copy; 2014 Progate. Inc</p>
</div><!-- End Footer -->