/* Typography
================================= */
h1, h2, h3, h4, body {
  font-family: "Lato", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", sans-serif;
  color: #5f5d60;
}

h2, h3 {
  font-size: 1.25em;
  margin-top: 0;
}

p {
  color: #b3aeb5;
  line-height: 1.7;
  font-size: 0.8em;
  font-weight: 200;
}

small {
  font-size: 0.6em;
}

.jumbotron{
  h1 {
    font-weight: 600;
    margin-bottom: 30px;
    letter-spacing: 0.14em;
    line-height: 1.2em;
    font-size: 2em;
    opacity: 0.8;
  }
  .lead {
    color: #fff;
    font-size: 0.7em;
    margin-bottom: 70px;
  }
}

.lead, .login-link {
  -webkit-font-smoothing: antialiased;
  a {
    color: #fff;
  }
}

.footer {
  font-size: .95em;
}
/* Global Layout
================================ */
body {
  ul {
    list-style-type: none;
  }
}
.container {
  max-width: 1000px;
}

/* Navbar
================================ */
.navbar {
  background-color: rgba(40, 33, 50, 0.9);
  border-color: rgba(30, 27, 31, 0.9);
  padding: 10px 0 10px 0;
  .btn-default {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    margin-left: 8px;
    padding: 8px 20px 8px 20px;
    color: #fff;
    border: 0;
    letter-spacing: 2px;
    -webkit-transition: all .2s;
    transition: all .2s;
    &:hover {
      color:  #957bba;
      background-color: #fff;
    }
  }
}

/* Jumbotron
================================ */
.jumbotron {
  color: #fff;
  background-image: url('bg.png');
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 200px 0 140px 0;
  margin-bottom: 70px;
  /* Buttons
  ================================= */
  .btn-lg {
    font-size: 0.8em;
  }
  .btn-primary {
    margin-right: 10px;
    padding: 12px 45px;
    letter-spacing: 0.2em;
    background-color: rgba(89, 41, 155, 0.6);
    border: 0;
    border-radius: 3px;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all .2s;
    transition: all .2s;
    &:hover {
      background-color: lighten(rgba(89, 41, 155, 0.6), 15%);
    }
  }
  .btn-default {
    color: #fff;
    margin-right: 10px;
    padding: 12px 22px;
    letter-spacing: 0.2em;
    background-color: rgba(0, 0, 0, 0);
    border-color: #fff;
    border-radius: 3px;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all .2s;
    transition: all .2s;
    &:hover {
      background-color: #fff;
      color: #957bba;
    }
  }
}

/* Main Content
================================ */
.heading {
  text-align: center;
  h2 {
    margin-bottom: 0;
  }
}